flask
pandas
requests
python-docx
python-dotenv
python-pptx
PyPDF2
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchainhub
langsmith
pymupdf
onnx==1.16.1
onnxruntime
lark
faiss-cpu